body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #242A31; 
}

.footer {


    text-align: center;
    padding: 50px 0;
    position: relative;
    font-size: 16px;
    /* color: #BABEC2; */
    color: #ffffff;
    border-top: 0.1px solid rgba(255, 255, 255, 0.121);
    /* box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);  */
}

/* .footer .triangle {
    position: absolute;
    background-color: #242A31;
    z-index: -1;
    top: -20px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 40px;
    height: 40px;
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.4); 
    border: 3px solid #babec20f ;
} */
.footer p {
    color: #FFFFFF;
}
.footer-links {
    margin-top: 15px;
    text-decoration: underline;

}

.footer-links a {
    color: #FFFFFF; /* Warm orange */
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
    text-decoration: underline;
    color: #ffcc66; /* Lighter orange on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer {
        padding: 30px 0;
    }

    .footer-links a {
        font-size: 16px;
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 20px 0;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
