*{
  margin: 0;
 padding: 0;
}
body{
  background-color: #242A31;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.message-box{
  width: 20%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.message-form{
  /* display: none; */
  background-color: #ffffff;
  border: 1px solid #282c34;
  z-index: 1;

}

.message-form-heading{
  background-color: #e63946;
  padding: 10px;
  text-align: center;
  color: #f2f2f2;
}

.message-form-info{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.message-form-info label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

.message-form-info input,
.message-form-info textarea {
  width: 90%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

.message-form-info textarea {
  resize: vertical;
  height: 100px;
}

.message-form-info-button{
  text-align: center;
}

.message-form-info-button button{
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #e63946;
  border: none;
  color: #ffffff;
}
.message-form-info-policy{
  text-align: center;
}
.message-form-info-policy label{
  font-size: 12px;
  text-align: center;
}

.message-form-info-policy span{
  color: #e63946;
}

.message-icon{
  text-align: end;
  padding-right: 30px;
}

.message-icon i{
  width: 50px;
  height: 50px;
  background-color: #e63946;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 25px;
  color: #f2f2f2;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media screen and (max-width: 768px) {
  .message-box{
    width: 100%;
  }
}